.customer-section{
    background-color: #EEEEEE;
}
.customer{
    background-color: #72BDA3;
    padding: 88px 0;
    text-align: center;
}
.customer-title{
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 46px;
}

.customer-cards{
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
.customer-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customer-card-content{
    width: 200px;
    text-align: center;
}
.customer-card-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.36px;
    text-align: center;
    color: #011F3A;
    margin-bottom: 10px;
}
.customer-card-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #3D5675;
}
.text{
    width: 152px;
}
.customer-btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.96px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3D5675;
    border: none;
    border-radius: 44px;
    padding: 13px 25px;
}